.logo{
    background-color: #1D242E;;
    padding: 5%;
}

.image{
    width: 42px;
    height: 42px;
    margin-left: 5%;
    margin-right: 10%;
}

.avatar{
    margin-left: 11%;
    margin-right: 5%;
}